# Q 1.) Write a Python program to print "Hello, World!"

In [1]:
print("Hello, World!")

Hello, World!

# Q 2.) Write a Python program to take two integers as input and print their sum.

In [2]:
a  = int(input("Enter the first number : "))
b = int(input("Enter the second number : "))
sum = a + b
print("The sum of two number is : " ,sum)

Enter the first number :  5
Enter the second number :  6

The sum of two number is :  11

# Q 3.) Write a program to calculate the area of a rectangle.

In [3]:
l = float(input("Enter the length: "))
b = float(input("Enter the breadth: "))
area_of_rectangle = l * b
print("The area of rectangle = ", area_of_rectangle)

Enter the length:  5
Enter the breadth:  6

The area of rectangle =  30.0

# Q 4.) Write a Python program to check if a number is even or odd.

In [4]:
n = int(input("Enter a number : " ))
if (n % 2 == 0):
    print("Even")
else: 
    print("Odd")

Enter a number :  5

Odd

# Q 5.) Write a Python program to take a string as input and print it in reverse order.

In [5]:
a = input("Enter the string :")
a = a[::-1]
print("The reverse string is : " , a)

Enter the string : utuutt

The reverse string is :  ttuutu

# Q 6.) Write a Python program to convert temperature from Celsius to Fahrenheit.

In [6]:
c = int(input("Enter the celsius : "))
f = (c * 1.8) + 32
print("The fahrenheit is : " , f)

Enter the celsius :  65

The fahrenheit is :  149.0

# Q 7.) Write a program to take a list of numbers and print their sum.

In [11]:
a = [10, 20, 30, 40]
sum(a)

TypeError: 'int' object is not callable

In [12]:
a = [10, 20, 30, 40]
b = 0
for i in a:
    b += i

print("The sum of list is : " , b)

The sum of list is :  100

# Q 8.) Write a Python program to swap two variables without using a temporary variable.

In [13]:
a = int(input("Enter the first number : "))
b = int(input("Enter the second number : "))
a = a+b 
b = a-b
a = a-b
print("The swap number is : " , a ,b)

Enter the first number :  56
Enter the second number :  65

The swap number is :  65 56

# Q 9.) Write a Python program to find the length of a string.

In [14]:
str = input("Enter the string :" )
print(len(str))

Enter the string : uttt

4

# Q 10 .) Write a program that reads an integer and prints its multiplication table.

In [15]:
num = int(input("Number which you  want multiple : "))
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

Number which you  want multiple :  5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50